footer.footer
  .container-xl
    .footer__inner
      ul.footer__list
        li.footer__item
          a.footer__link(href="#!")
            i.fab.fa-facebook-f
        li.footer__item
          a.footer__link(href="#!")
            i.fab.fa-twitter
        li.footer__item
          a.footer__link(href="#!")
            i.fab.fa-linkedin-in
        li.footer__item
          a.footer__link(href="#!")
            i.fab.fa-behance
      p.footer__date
        i.fal.fa-copyright
        span Expice Studio lorem